@{
    ViewData["Title"] = "Gizlilik Politikası";
}

@{
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/privacy.css" />
}

<div class="privacy-container">
    <h1 class="privacy-title">🔒 Gizlilik Politikası</h1>
    <p class="privacy-desc">
        <b>Futbol Oyuncu Takip Sistemi</b> olarak, kullanıcılarımızın kişisel verilerinin gizliliğine büyük önem veriyoruz.<br />
        Tüm bilgileriniz güvenli bir şekilde saklanır ve asla üçüncü kişilerle paylaşılmaz.
    </p>
    <ul class="privacy-list">
        <li>Kişisel bilgileriniz sadece sistem işleyişi için kullanılır.</li>
        <li>Verileriniz güvenli sunucularda korunur.</li>
        <li>Yetkisiz erişime karşı gerekli tüm önlemler alınır.</li>
        <li>Talep etmeniz halinde verileriniz silinir.</li>
    </ul>
    <p class="privacy-contact">
        Sorularınız için <a href="mailto:destek@futboloyuncutakip.com">destek@futboloyuncutakip.com</a> adresinden bize ulaşabilirsiniz.
    </p>
</div>